.random-bird {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: #b8c8e6;
    border-radius: 8px;
}

.random-bird__info {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-around;
}

.random-bird__name {
    font-weight: 500;
    font-size: 2em;
    margin-left: 50px;
}

@media screen and (max-width: 590px) {
    .random-bird {
        flex-direction: column;
        align-items: center;
    }

    .random-bird__name {
        text-align: center;
        margin-left: 0px;
    }
}